<div>

    <h2 translate="studentshelpcenterApp.answerVote.home.title">AnswerVote</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveAnswerVoteModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="studentshelpcenterApp.answerVote.home.createLabel">Create a new AnswerVote</span>
    </button>
    <div class="modal fade" id="saveAnswerVoteModal" tabindex="-1" role="dialog" aria-labelledby="myAnswerVoteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAnswerVoteLabel" translate="studentshelpcenterApp.answerVote.home.createOrEditLabel">Create or edit a AnswerVote</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="answerVote.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="studentshelpcenterApp.answerVote.vote">Vote</label>
                            <input type="number" class="form-control"
                                   ng-model="answerVote.vote">
                        </div>

                        <div class="form-group">
                            <label translate="studentshelpcenterApp.answerVote.answer">answer</label>
                            <select class="form-control" ng-model="answerVote.answer.id" ng-options="answer.id as answer.id for answer in answers">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="studentshelpcenterApp.answerVote.user">user</label>
                            <select class="form-control" ng-model="answerVote.user.id" ng-options="user.id as user.id for user in users">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAnswerVoteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(answerVote.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="studentshelpcenterApp.answerVote.delete.question" translate-values="{id: '{{answerVote.id}}'}">Are you sure you want to delete AnswerVote {{answerVote.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="studentshelpcenterApp.answerVote.vote">Vote</th>
                    <th translate="studentshelpcenterApp.answerVote.user">answer</th>
                    <th translate="studentshelpcenterApp.answerVote.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answerVote in answerVotes">
                    <td><a ui-sref="answerVoteDetail({id:answerVote.id})">{{answerVote.id}}</a></td>
                    <td>{{answerVote.vote}}</td>
                    <td>{{answerVote.answer.id}}</td>
                    <td>{{answerVote.user.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="answerVoteDetail({id:answerVote.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(answerVote.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(answerVote.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
