<div>

    <h2 translate="studentshelpcenterApp.question.home.title">Question</h2>
    <div class="modal fade" id="deleteQuestionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(question.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="studentshelpcenterApp.question.delete.question" translate-values="{id: '{{question.id}}'}">Are you sure you want to delete Question {{question.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="studentshelpcenterApp.question.title">Title</th>
                    <th translate="studentshelpcenterApp.question.description">Description</th>
                    <th translate="studentshelpcenterApp.question.datePosted">DatePosted</th>
                    <th translate="studentshelpcenterApp.question.solved">Solved</th>
                    <th translate="studentshelpcenterApp.question.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions">
                    <td><a ui-sref="questionDetail({id:question.id})">{{question.id}}</a></td>
                    <td>{{question.title}}</td>
                    <td>{{question.description | limitTo: 20}}</td>
                    <td>{{question.datePosted}}</td>
                    <td>{{question.solved}}</td>
                    <td>{{question.user.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="questionDetail({id:question.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="deleteQuestion(question.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" ng-if="questions.length > 0">
            <pagination total-items="page.totalItems" items-per-page="page.size" ng-model="page.currentPage"
                        ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div>
