<form data-ng-class="{'fileupload-processing': processing() || loadingFiles}" data-file-upload="options"
      enctype="multipart/form-data" method="POST" id="fileupload" ng-submit="create()"
      class="ng-scope ng-pristine ng-valid">
    <h3>Post new question</h3>
    <br/>

    <div class="form-group">
        <label>Question title</label>
        <input type="text" class="form-control" id="title" ng-model="question.title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label>Question tags</label>
        <tags-input class="bootstrap" ng-model="tags" placeholder="Add a tag">
            <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" max-results="100"></auto-complete>
        </tags-input>
        <p></p>
    </div>
    <div text-angular ng-model="question.description"></div>
    <div class="form-group">
        <label>Attach images</label>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
<span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
<i class="glyphicon glyphicon-plus"></i>
<span>Add files...</span>
<input type="file" name="files[]" multiple ng-disabled="disabled">
</span>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()">
                    <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"
                           data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
<span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
<a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
<a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
</span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>

                    <div class="progress progress-striped active fade"
                         data-ng-class="{pending: 'in'}[file.$state()]"
                         data-file-upload-progress="file.$progress()">
                        <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Post Question</span>
    </button>
</form>
