<form data-ng-class="{'fileupload-processing': processing() || loadingFiles}" data-file-upload="options"
      enctype="multipart/form-data" method="POST" id="fileupload" ng-submit="create()"
      class="ng-scope" name="userForm" novalidate>
    <h3>Post new question</h3>
    <br/>

    <div class="form-group">
        <label>Question title</label>
        <input type="text"  class="form-control" id="title" style="margin-bottom: 5px;" ng-model="question.title" name="title" placeholder="Enter title" ng-minlength="10" ng-maxlength="255" required>
        <!--Validation-->
        <span class="" ng-show="userForm.title.$error.minlength" style="padding: 5px; border-radius: 5px; color:red;">
            Question title is required to be at least 10 characters.
            <br/></span>
        <span class="" ng-show="userForm.title.$error.maxlength" style="padding: 5px; border-radius: 5px; color:red;">
            Question title cannot be longer than 255 characters.
        </span>

    </div>
    <div class="form-group">
        <label>Question tags</label>
        <tags-input class="bootstrap" ng-model="question.tags" display-property="name" placeholder="Add a tag">
            <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0"
                           max-results="100"></auto-complete>
        </tags-input>
        <p></p>
    </div>
    <div class="form-group">
         <div text-angular type="text" style="margin-bottom: 5px;" ng-model="question.description" name="description" ta-max-text="1000" ta-min-text="50"></div>

        <!--Validation-->
        <span class="" ng-show="userForm.description.$error.taMinText" style="padding: 5px; border-radius: 5px; color:red;">Question description is required to be at least 50 characters. <br/></span>
        <span class="" ng-show="userForm.description.$error.taMaxText" style="padding: 5px; border-radius: 5px; color:red;">Question description cannot be longer than 1000 characters. </span>
    </div>

    <div class="form-group">
        <label>Attach images</label>
        <div class="dropzone" id="images-dropzone"></div>
    </div>
    <br/>
    <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Post Question</span>
    </button>
</form>
