
    <div class="row" ng-repeat="question in questions">

        <div class="col-md-12 col-xs-18 col-sm-14">
            <hr>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <label class="pull-left badge badgeRed badgePadding" style="margin-left: 15px;" ng-if="question.solved == false" ><span class="glyphicon glyphicon-remove-circle"> </span> NOT SOLVED</label>
                <label class="pull-left badge badgeGreen badgePadding" style="margin-left: 15px;" ng-if="question.solved == true"><span class="glyphicon glyphicon-ok-circle" ></span> SOLVED</label>
                <span class="pull-right glyphicon glyphicon-remove" ng-if="account.id == question.user.id || account.roles[1] == 'ROLE_ADMIN'" style="margin-left:20px; font-size:18px;" data-ng-click="questionDelete(question)"></span>
                <label class="pull-right">Date: {{question.datePosted | date:'medium'}}</label>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14" style="margin: 5px;">
                <div class="col-md-1 col-xs-2 col-sm-2">
                   <div class="row h3">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                       <label>{{question.upvotes}}</label>
                   </div>
                    <div class="row h3">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <label>{{question.downvotes}}</label>
                    </div>
                </div>
                <div>
                    <p class="col-md-11 col-xs-16 6col-sm-12 h2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px;"><a ui-sref="questionDetails({id: question.id})">{{question.title}}</a></p>
                </div>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <h6 class="col-md-3 col-xs-4 col-sm-4" style="margin-left: 20px;">Posted by <b>{{question.user.firstName}} {{question.user.lastName}}</b></h6>
                <blockquote class="text-right blockquote-reverse" ng-if="question.tags.length > 0 ">
                    <ul class="list-inline tag-list badgePadding">
                        <li ng-repeat="tag in question.tags" class="list-group-item">
                            <a ui-sref="questions({search:tag.name})">{{tag.name}}</a>
                        </li>
                    </ul>
                </blockquote>
            </div>
        </div>

        <hr>
    </div>

    <div class="modal fade" id="deleteQuestionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmQuestionDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="studentshelpcenterApp.question.delete.question" translate-values="{id: '{{question.id}}'}">Are you sure you want to delete Question {{question.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


