<div>
    <div class="row">
        <div class="col-md-12 col-xs-18 col-sm-14">
            <hr>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <label class="pull-left badge badgeRed badgePadding" style="margin-left: 15px;" ng-if="question.solved == false"><span class="glyphicon glyphicon-remove-circle"></span>  NOT SOLVED</label>
                <label class="pull-left badge badgeGreen badgePadding" style="margin-left: 15px;" ng-if="question.solved == true"> <span class="glyphicon glyphicon-ok-circle"> </span> SOLVED</label>
                <label class="pull-right">Date: {{question.datePosted | date:'medium'}}</label>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14" style="margin: 5px;">
                <div class="col-md-1 col-xs-2 col-sm-2">
                    <div class="row h3">
                        <span class="glyphicon glyphicon-thumbs-up" ng-click="addVote()"></span>
                        <label>{{question.upvotes}}</label>
                    </div>
                    <div class="row h3">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <label>{{question.downvotes}}</label>
                    </div>
                </div>
                <div>
                    <p class="row h2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px;">{{question.title}}</p>
                    <div ng-bind-html="question.description | to_trusted"></div>

                </div>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <h6 class="col-md-3 col-xs-4 col-sm-4" style="margin-left: 20px;">Posted by <b>{{question.user.firstName}} {{question.user.lastName}}</b></h6>
                <blockquote class="text-right blockquote-reverse" ng-if="question.tags.length > 0 ">
                    <ul class="list-inline tag-list badgePadding">
                        <li ng-repeat="tag in question.tags" class="list-group-item">
                            <a ui-sref="questions({search:tag.name})">{{tag.name}}</a>
                        </li>
                    </ul>
                </blockquote>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14" ng-if="question.images.length > 0">
                <div class="col-xs-4 col-md-2" ng-repeat="image in question.images">
                    <a class="thumbnail" ng-click="showImage(image.imageName)">
                        <img src="/assets/images/{{image.imageName}}" alt="..." ng-mouseenter="hover=true"ng-mouseleave="hover-false"  ng-class="{ngHover: hover}">
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="question.answers.length > 0 " class="col-md-12 col-xs-18 col-sm-14">
            <div ng-repeat="answer in question.answers" class="row col-md-12 col-xs-18 col-sm-14">
                <hr>
                <div class="col-md-1 col-xs-2 col-sm-2" style="border-right: solid 1px lightgray;">
                    <div class="row h4" style="margin:auto;">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        <label>{{answer.upvotes}}</label>
                    </div>
                    <br/>
                    <div class="row h4" style="margin:auto;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <label>{{answer.downvotes}}</label>
                    </div>
                </div>
                <div class="col-md-11 col-xs-16 col-sm-12">
                    <div class="row col-md-12 col-xs-18 col-sm-14">
                       <label class="pull-left"> By: {{answer.user.firstName}} {{answer.user.lastName}} </label>
                        <label class="pull-right">Date: {{answer.datePosted | date:'medium'}}</label>
                    </div>

                    <div class="row col-md-12 col-xs-18 col-sm-14" style="border-top: solid 1px lightgray;">
                        <h4>{{answer.answerText}}</h4>
                    </div>
                </div>

            </div>
        </div>
        <h2 translate="studentshelpcenterApp.answer.home.title">Answer</h2>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveAnswerModal" ng-click="clear()">
            <span class="glyphicon glyphicon-flash"></span> <span
            translate="studentshelpcenterApp.answer.home.createLabel">Create a new Answer</span>
        </button>
        <div class="modal fade" id="saveAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myAnswerLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="form" role="form" novalidate
                          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                          ng-submit="create()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myAnswerLabel"
                                translate="studentshelpcenterApp.answer.home.createOrEditLabel">Create or edit a
                                Answer</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" name="id"
                                       ng-model="answer.id" readonly>
                            </div>

                            <div class="form-group">
                                <label translate="studentshelpcenterApp.answer.answerText">AnswerText</label>
                                <input type="text" class="form-control"
                                       ng-model="answer.answerText">
                            </div>
                            <div class="form-group">
                                <label translate="studentshelpcenterApp.answer.datePosted">DatePosted</label>
                                <input type="datetime-local" class="form-control"
                                       ng-model="answer.datePosted" ng-model-options="{timezone: 'UTC'}">
                            </div>

                            <div class="form-group">
                                <label translate="studentshelpcenterApp.answer.user">user</label>
                                <select class="form-control" ng-model="answer.user.id"
                                        ng-options="user.id as user.id for user in users">
                                </select>
                            </div>
                            <div class="form-group">
                                <label translate="studentshelpcenterApp.answer.question">question</label>
                                <select class="form-control" ng-model="answer.question.id"
                                        ng-options="question.id as question.id for question in questions">
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                                translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAnswerConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="form" ng-submit="confirmDelete(answer.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p translate="studentshelpcenterApp.answer.delete.question"
                               translate-values="{id: '{{answer.id}}'}">Are you sure you want to delete Answer
                                {{answer.id}}?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                translate="entity.action.cancel">Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                translate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="showImage" tabindex="-1" role="dialog" aria-labelledby="myQuestionLabel"
             aria-hidden="true">
            <div class="modal-dialog showImage">
                <div class="modal-content">
                    <form name="form" role="form" novalidate
                          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="myQuestionLabel" ><br/></h4>
                        </div>
                        <div class="modal-body">
                            <img class="col-md-12 col-xs-18 col-sm-14 photo" src="/assets/images/{{imageName}}"/>
                        </div>
                        <div class="modal-footer modalFooter">

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th translate="studentshelpcenterApp.answer.answerText">AnswerText</th>
                    <th translate="studentshelpcenterApp.answer.datePosted">DatePosted</th>
                    <th translate="studentshelpcenterApp.answer.question">user</th>
                    <th translate="studentshelpcenterApp.answer.question">question</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="answer in answers">
                    <td><a ui-sref="answerDetail({id:answer.id})">{{answer.id}}</a></td>
                    <td>{{answer.answerText}}</td>
                    <td>{{answer.datePosted}}</td>
                    <td>{{answer.user.id}}</td>
                    <td>{{answer.question.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="answerDetail({id:answer.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(answer.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(answer.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
