<div ng-if="editQuestion == null">
    <div class="row" ng-repeat="question in questions">
        <div class="col-md-12 col-xs-18 col-sm-14">
            <hr>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <label class="pull-left badge badgeRed badgePadding" style="margin-left: 15px;"
                       ng-if="question.solved == false"><span class="glyphicon glyphicon-remove-circle"> </span> NOT
                    SOLVED</label>
                <label class="pull-left badge badgeGreen badgePadding" style="margin-left: 15px;"
                       ng-if="question.solved == true"><span class="glyphicon glyphicon-ok-circle"></span>
                    SOLVED</label>
            <span class="pull-right glyphicon glyphicon-remove"
                  ng-if="account.id == question.user.id || account.roles[1] == 'ROLE_ADMIN'"
                  style="margin-left:10px; font-size:18px;" data-ng-click="questionDelete(question)"></span>
            <span class="pull-right glyphicon glyphicon-edit"
                  ng-if="account.id == question.user.id"
                  style="margin-left:20px; font-size:18px;" data-ng-click="questionEdit(question)"></span>
                <label class="pull-right">Date: {{question.datePosted | date:'medium'}}</label>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14" style="margin: 5px;">
                <div class="col-md-1 col-xs-2 col-sm-2">
                    <div class="row h3">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <label>{{question.upvotes}}</label>
                    </div>
                    <div class="row h3">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        <label>{{question.downvotes}}</label>
                    </div>
                </div>
                <div>
                    <p class="col-md-11 col-xs-16 6col-sm-12 h2"
                       style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px;"><a
                        ui-sref="questionDetails({id: question.id})">{{question.title}}</a></p>
                </div>
            </div>
            <div class="row col-md-12 col-xs-18 col-sm-14">
                <h6 class="col-md-3 col-xs-4 col-sm-4" style="margin-left: 20px;">Posted by <b>{{question.user.firstName}}
                    {{question.user.lastName}}</b></h6>
                <blockquote class="text-right blockquote-reverse" ng-if="question.tags.length > 0 ">
                    <ul class="list-inline tag-list badgePadding">
                        <li ng-repeat="tag in question.tags" class="list-group-item">
                            <a ui-sref="questions({search:tag.name})">{{tag.name}}</a>
                        </li>
                    </ul>
                </blockquote>
            </div>
        </div>
        <hr>
    </div>

    <div class="row" ng-if="questions.length > 0">
        <pagination total-items="page.totalItems" items-per-page="page.size" ng-model="page.currentPage"
                    ng-change="pageChanged()"></pagination>
    </div>
</div>

<div ng-if="editQuestion != null">

    <form data-ng-class="{'fileupload-processing': processing() || loadingFiles}" data-file-upload="options"
          enctype="multipart/form-data" method="POST" id="fileupload" ng-submit="create()"
          class="ng-scope" name="userForm" novalidate>
        <h3>Edit question</h3>
        <br/>

        <div class="form-group">
            <label>Question title</label>
            <input type="text"  class="form-control" id="title" style="margin-bottom: 5px;" ng-model="editQuestion.title" name="title" placeholder="Enter title" ng-minlength="10" ng-maxlength="255" required>
            <!--Validation-->
        <span class="" ng-show="userForm.title.$error.minlength" style="padding: 5px; border-radius: 5px; color:red;">
            Question title is required to be at least 10 characters.
            <br/></span>
        <span class="" ng-show="userForm.title.$error.maxlength" style="padding: 5px; border-radius: 5px; color:red;">
            Question title cannot be longer than 255 characters.
        </span>

        </div>
        <div class="form-group">
            <label>Question tags</label>
            <tags-input class="bootstrap" ng-model="editQuestion.tags" display-property="name" placeholder="Add a tag">
                <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0"
                               max-results="100"></auto-complete>
            </tags-input>
            <p></p>
        </div>
        <div class="form-group">
            <div text-angular type="text" style="margin-bottom: 5px;" ng-model="editQuestion.description" name="description" ta-max-text="1000" ta-min-text="50"></div>

            <!--Validation-->
            <span class="" ng-show="userForm.description.$error.taMinText" style="padding: 5px; border-radius: 5px; color:red;">Question description is required to be at least 50 characters. <br/></span>
            <span class="" ng-show="userForm.description.$error.taMaxText" style="padding: 5px; border-radius: 5px; color:red;">Question description cannot be longer than 1000 characters. </span>
        </div>

        <div class="form-group">
            <label>Attach images</label>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">

                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                </span>
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" data-file-upload-progress="progress()">
                        <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped files ng-cloak">
                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                    <td data-ng-switch data-on="!!file.thumbnailUrl">
                        <div class="preview" data-ng-switch-when="true">
                            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"
                               data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                        </div>
                        <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                    </td>
                    <td>
                        <p class="name" data-ng-switch data-on="!!file.url">
                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                    </span>
                            <span data-ng-switch-default>{{file.name}}</span>
                        </p>
                        <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                    </td>
                    <td>
                        <p class="size">{{file.size | formatFileSize}}</p>

                        <div class="progress progress-striped active fade"
                             data-ng-class="{pending: 'in'}[file.$state()]"
                             data-file-upload-progress="file.$progress()">
                            <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()"
                                data-ng-hide="!file.$cancel">git p
                            <span>Cancel</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save changes</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="goBack()">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Cancel</span>
        </button>
    </form>


</div>

<div class="row" ng-if="questions.length == 0">
    <h1>Currently there are no questions posted.</h1>
</div>
<div class="modal fade" id="deleteQuestionConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" ng-submit="confirmQuestionDelete()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this question?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                        translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


